<div class="container-fluid footer">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 address">

            <address>

            </address>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <label>Privacy Policy</label>
            <label> | </label>
            <label>Terms & Conditions</label>
            <label> | </label>
            <label>All Rights Reserved. MATA. 2018</label>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>