<div class="container-fluid non-header">
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron about">
                <h2>
                    Mana Australia Telugu Association
                </h2>
                <p>
                    The Telugu loving community of Australia, in order to promote cultural, educational and humanitarian activities, and to further the intercultural understanding among the people of Australia and the Telugu speaking people in other parts of the world joined together to form the organization, "Mana Australia Telugu Association".

                    We would like to address the needs and concerns that affect the everyday lives of Telugu people living in Australia.

                    We would also like to conduct social, financial, educational, health and aged care support services; organize cultural events, and support humanitarian causes.
                </p>
            </div>
            <blockquote>
                <p>
                    Desa Bhashalandu Telugu Lessa
                </p> <small>Srikrishna Devarayalu <cite>Amukta Malyada</cite></small>
            </blockquote>
        </div>
        <div class="col-md-4">
            <img alt="Vijayawada Durga Temple" src="img/vijayawadaDurgaTemple.jpeg" />
        </div>
    </div>
</div>