<div class="container-fluid non-header">
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron about">
                <h2>
                    Mana Australia Telugu Association
                </h2>
                <p>
                    MANAM is a non-profit national organization for Telugu speaking people living in Australia. Its primary objective is to address the needs and concerns that affect the everyday lives of Telugu people living in Australia. It is solely organized for literary, cultural, educational, social, economic and community affairs of Telugu speaking people.
                </p>
                <p>
                    MANAM will provide needed social, financial, educational, health and aged care support services to the Telugu community in an effective and efficient manner. It will serve the local communities, encourage Telugu youth to be involved in local
                    humanitarian service acts and to foster friendship between Telugu people and local community people. The membership in the MANAM is open to all Telugu speaking people living in Australia. The organization and its members shall not discriminate against any individuals based on age, gender,
                    race, color, religion, national origin, spoken language, or physical disabilities.
                </p>
                <p>
                    We are a non-political organization that actively involves its General Body in setting its direction and in providing regular feedback on its programs.
                </p>
            </div>
            <blockquote>
                <p>
                    దేశ భాషలందు తెలుగు లెస్స
                </p> <small>శ్రీక్రిష్ణదేవరాయలు <cite>ఆముక్తమాల్యద</cite></small>
            </blockquote>
        </div>
        <div class="col-md-4">
            <img alt="Vijayawada Durga Temple" src="img/vijayawadaDurgaTemple.jpeg" class="img-responsive" />
        </div>
    </div>
</div>

