<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <img src="img/mataLogo.jpg" href="index.html" class="banner">

            </img>
        </div>
        <div class="col-md-7">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default banner-background" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button> <a class="navbar-brand" id="logo">MANAM</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a id="home">
                                <i class="fa fa-home fa-1x" aria-hidden="true"></i>
                                Home
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a id="team">
                                        <i class="fa fa-users fa-1x" aria-hidden="true"></i>
                                        Team
                                    </a>
                                </li>
                                <li>
                                    <a id="whatsapp">
                                        <i class="fa fa-telegram fa-1x" aria-hidden="true"></i>
                                        Telegram
                                    </a>
                                </li>
                                <li>
                                    <a id="studentJobRegistration">
                                        <i class="fa fa-graduation-cap fa-1x" aria-hidden="true"></i>
                                        Student Job Registration
                                    </a>
                                </li>
                                <li>
                                    <a id="jobAssistanceRegistration">
                                        <i class="fa fa-graduation-cap fa-1x" aria-hidden="true"></i>
                                        Job Assistance Registration
                                    </a>
                                </li>
                                <li>
                                    <a id="travelAssistance">
                                        <i class="fa fa-plane fa-1x" aria-hidden="true"></i>
                                        Travel Assistance
                                    </a>
                                </li>
                                <li>
                                    <a id="testimonials">
                                        <i class="fa fa-thumbs-up fa-1x" aria-hidden="true"></i>
                                        Testimonials
                                    </a>
                                </li>
                                <li>
                                    <a id="sankranti">
                                        <i class="fa fa-calendar fa-1x" aria-hidden="true"></i>
                                        Sankranti Event
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>