<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <img alt="Bootstrap Image Preview" class="img-team" src="img/ganeshProfilePic.jpeg" />
            <p>
                <strong>Ganesh Venkata</strong>
                <strong>(Vice President)</strong>
            </p>
        </div>
        <div class="col-md-4">
            <img alt="Bootstrap Image Preview" class="img-team" src="img/suryaProfilePic.jpeg" />
            <p>
                <strong>Surya Gollavilli</strong>
                <strong>(President)</strong>
            </p>
        </div>
        <div class="col-md-4">
            <img alt="Bootstrap Image Preview" class="img-team" src="img/sandeepProfilePic.jpg" />
            <p>
                <strong>Sandeep Uppuluri</strong>
                <strong>(Secretary)</strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img alt="Bootstrap Image Preview" class="img-team" src="img/chandraProfilePic.jpeg" />
            <p>
                <strong>Chandramohan Puli</strong>
                <strong>(Treasurer)</strong>
            </p>
        </div>
        <div class="col-md-4">
            <img alt="Bootstrap Image Preview" class="img-team" src="img/phaniProfilePic.png" />
            <p>
                <strong>Phani Gollavilli</strong>
                <strong>(Executive Member)</strong>
            </p>
        </div>
        <div class="col-md-4">
            <img alt="Bootstrap Image Preview" class="img-team" src="img/renuProfilePic.png" />
            <p>
                <strong>Renu Kanth</strong>
                <strong>(Executive Member)</strong>
            </p>
        </div>
    </div>
</div>