<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <blockquote>
                <p>
                    Hi every one.. nenu part time job degara  oka interview lo reference  leka  rejct ayanu ani oka post petanu idhivarki.. apud  chala  mandhi  respond ayyi manchi mata tho
                    console   chesaru and   e roju naku  corporate  fuel station lo job ochindi  that is  all because  of mr.GANESH garu and  manam team. Am  whole  heartedly thank full to
                    him. When i was  with this probe  ayaney  evarni kalvali evartho pani avtundho cheppi contacts ichi ila chey ala  chey ani motham guide  chesi  with in 4 weeks gap from
                    my loss  he  helped me to gain a job betterbthan what i  lost. Not only him  all persons  in this team has helped me with their  responses and  ganesh garu for spl
                    efforts  and  personal care. Am  thankfull to him. Thanks to all manam family.</p>
                <small>Bhargava <cite>Student in University of Technology</cite></small>
            </blockquote>
        </div>
        <div class="col-md-4">
            <blockquote>
                <p>
                    Would like to appreciate the team members of the Manam especially Ganesh garu, Surya garu, Chandra garu, Phani garu and many others of this group for the valuable
                    contribution to the Telugu community
                    . Through this group only I have learnt about the best centre to take the car license and got it in my first attempt
                    . Be it student
                    guidance or new migrants guidance or any other guidance Manam is excellent in providing the feed back. I got my license within 5 days of my arrival to Sydney. Manam team
                    has been very supportive and I have already made good network of Telugu community through this group.
                </p>
                <small>Nag<cite>New immigrant</cite></small>
            </blockquote>
        </div>
        <div class="col-md-4">
            <blockquote>
                <p>
                    This is devi from Chennai I came australia few months back  I don’t know anybody here when I arrived australia.One of my friend recommend me to attend an event which is
                    conduct by our telugu community.
                    There I came to know “Ganesh Anna” from that day the support is carried out.
                    I got an part time job because of Ganesh Anna. I’m really
                    happy to be a part of Manam group and it’s so helpful for the students to get an more information.
                </p>
                <small>Devi <cite>Home Maker</cite></small>
            </blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <blockquote>
                <p>
                    Guys, Prakash is my friend and i have informed him to have a word about the job opportunity that was posted by Ganesh this morning. I must say that, Prakash has felt so positive after talking to Ganesh. The later acknowledged him very well and spoken with him as a friend(that is needed very much here..isn't?).He guided and directed him to the right opportunities. Thanks Ganesh garu for being so supportive to the community and to stand by for the people in need. Great going....
                </p>
                <small>Kartheek <cite>Software Developer</cite></small>
            </blockquote>
        </div>
        <div class="col-md-6">
            <blockquote>
                <p>
                    Hi Manam,

                    It's really nice to the family growing.

                    My message is purely for the new members who are yet to find out the nature of this group.

                    I arrived in Sydney in the month of July and it has been pretty tough for me to find a way to manage my expenses but while still in search of a work, the members of this group Chandra, Surya and Ganesh helped me find one which was really helpful. As they say it is tough for a person to find his first job in Australia, I got immense help at that stage.

                    Thank you people.
                </p> <small>Nandu<cite>Software Developer</cite></small>
            </blockquote>
        </div>
    </div>
</div>